/* ---------------------- Container ----------------------  */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 2rem auto;
}

/* ---------------------- Tablet ---------------------- */

@media screen and (min-width: 480px) {
  :root {
    --fs-body: 1.6rem;

    --fs-xs: 1.2rem;
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 1.8rem;
    --fs-xl: 2rem;
    --fs-2xl: 2.2rem;
  }

  .btn-action {
    width: 4rem;
    height: 4rem;
  }

  .btn-increase img {
    width: 1rem;
    height: 1rem;
    height: auto;
  }

  .btn-trash img {
    width: 1.8rem;
    height: 1.8rem;
    height: auto;
  }

  .card__amount {
    width: 4rem;
    height: 4rem;
  }

  .shipping-methods {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .checkout {
    grid-template-columns: 1fr 460px;
    border: 1.5px solid var(--color-border);
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .pishtaz-method {
    margin-top: 0;
  }
}
