<div class="inventory__product glass-card">
  <div class="inventory__product-title title-section">
    <div class="logo"><i class="fas fa-folder-plus"></i></div>
    <p class="title">Add New Product</p>
  </div>

  <div class="inventory__product-grid">
    <div class="inventory__product-input-lable">
      <label class="label" for="product-name">Product Name</label>
      <input class="input" placeholder="Electronics, Furniture, Books..." type="text" name="" id="product-name">
    </div>

    <div class="inventory__product-input-lable">
      <label class="label" for="product-quantity">Quantity</label>
      <input class="input" placeholder="10" type="number" name="" id="product-quantity">
    </div>

    <div class="inventory__product-input-lable">
      <label class="label" for="product-category">Category</label>
      <select class="product-category-option input" name="" id="product-category">
        <option value="Electronics">Electronics</option>
        <option value="Furniture">Furniture</option>
        <option value="Clothing & Apparel">Clothing & Apparel</option>
        <option value="Office Supplies">Office Supplies</option>
        <option value="Groceries & Food Items">Groceries & Food Items</option>
        <option value="Health & Beauty">Health & Beauty</option>
        <option value="Automotive Parts">Automotive Parts</option>
        <option value="Tools & Hardware">Tools & Hardware</option>
        <option value="Books & Media">Books & Media</option>
        <option value="Miscellaneous">Miscellaneous</option>

      </select>
    </div>
  </div>

  <div class="inventory__product-gridt">
    <div class="inventory__product-input-lable">
      <label class="label" for="product-price">Price</label>
      <input class="input" placeholder="99.99" type="number" name="" id="product-price">
    </div>

    <div class="inventory__product-input-lable">
      <label class="label" for="product-sku">Product Name</label>
      <input class="input" placeholder="SKU-001" type="text" name="" id="product-sku">
    </div>
  </div>

  <div class="inventory__product-btns">
    <button class="cancel-btn btn btn-outline" type="button">
      <i class="btn-icon fa-solid fa-xmark"></i>
      Cancel
    </button>

    <button class="add-btn btn btn-primary" type="button">
      <i class="btn-icon fa-solid fa-plus"></i>
      Create Category
    </button>


  </div>



</div>