@font-face {
  font-family: "BarlowSemiCondensed";
  src: url("../../assets/fonts/BarlowSemiCondensed/BarlowSemiCondensed-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "BarlowSemiCondensed";
  src: url("../../assets/fonts/BarlowSemiCondensed/BarlowSemiCondensed-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "BarlowSemiCondensed";
  src: url("../../assets/fonts/BarlowSemiCondensed/BarlowSemiCondensed-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "BarlowSemiCondensed";
  src: url("../../assets/fonts/BarlowSemiCondensed/BarlowSemiCondensed-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "BarlowSemiCondensed";
  src: url("../../assets/fonts/BarlowSemiCondensed/BarlowSemiCondensed-SemiBold.ttf");
  font-weight: 600;
}
