@font-face {
  font-family: "roberto";
  src: url("../assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
  font-family: "alegreya";
  src: url("../assets/fonts/Alegreya-VariableFont_wght.ttf");
}


@font-face {
  font-family: "pacifico";
  src: url("../assets/fonts/Pacifico-Regular.ttf");
}