<div class="form-field">
  <label for="name">نام و نام خانوادگی</label>
  <input type="text" name="name" id="name" />
</div>

<!-- --------------------------------------------------------------- -->

<div class="form-grid">
  <div class="form-field">
    <label for="province">استان</label>
    <div class="select-wrapper">
      <select class="form-select" name="province" id="province">
        <option value="tehran">تهران</option>
        <option value="tehran">کرج</option>
        <option value="tehran">کرمانشاه</option>
        <option value="tehran">شیراز</option>
        <option value="tehran">اصفهان</option>
      </select>
      <img
        class="select-icon"
        src="./assets/images/select-icon.svg"
        alt="select icon"
      />
    </div>
  </div>

  <!-- --------------------------------------------------------------- -->

  <div class="form-field">
    <label for="province">شهر</label>
    <div class="select-wrapper">
      <select class="form-select" name="province" id="province">
        <option value="tehran">تهران</option>
        <option value="tehran">کرج</option>
        <option value="tehran">کرمانشاه</option>
        <option value="tehran">شیراز</option>
        <option value="tehran">اصفهان</option>
      </select>
      <img
        class="select-icon"
        src="./assets/images/select-icon.svg"
        alt="select icon"
      />
    </div>
  </div>
</div>

<!-- --------------------------------------------------------------- -->

<div class="shipping-methods form-grid">
  <label for="shipping-tipax" class="shipping-method">
    <div class="shipping-method__title">
      <div class="shipping-method__radio">
        <input
          checked
          class="shipping-method__input"
          type="radio"
          name="shipping-method"
          id="shipping-tipax"
        />
        <img src="./assets/images/check-icon.svg" alt="check icon" />
      </div>
      <span>تیپاکس با بیمه (1 تا 3 روز کاری)</span>
    </div>
    <div class="shipping-method__price">
      <span class="method__price">45,000</span>
      <span class="method__price-unit unit">تومان</span>
    </div>
  </label>

  <label for="shipping-pishtaz" class="shipping-method">
    <div class="shipping-method__title">
      <div class="shipping-method__radio">
        <input
          class="shipping-method__input"
          type="radio"
          name="shipping-method"
          id="shipping-pishtaz"
        />
        <img src="./assets/images/check-icon.svg" alt="check icon" />
      </div>
      <span>پست پیشتاز (2 تا 5روز کاری)</span>
    </div>
    <div class="shipping-method__price">
      <span class="method__price">45,000</span>
      <span class="method__price-unit unit">تومان</span>
    </div>
  </label>
</div>

<!-- --------------------------------------------------------------- -->
