* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "vceosd";
  src: url("../assets/fonts/vce-osd-mono.ttf");
}

@font-face {
  font-family: "patrick";
  src: url("../assets/fonts/PatrickHand-Regular.ttf");
}